/*Globales*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM es igual a 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    font-size:1.6rem;
}

header{
    display: flex;
    height: 88px;
    justify-content: space-between;
    background-color: white;
    text-align: center;
    align-items: center;
}

h1,h2,h3 {
    margin: 1rem 0 0 0;
    text-transform:uppercase;
    padding-top: 2rem;
}

a {
    text-decoration: none;
    color:black;
    padding:0 2rem;
}

.btn {
    background-color: white;
    border-radius: 3px;
    color: black;
    border: 2px solid black;
    border-radius:1rem;
    padding: 1rem;
}

.btn-black {
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius:1rem;
    padding: 1rem;
}

/* Utilidades */

.borde {
    box-shadow:
    0 1px 0 rgba(0,0,0,.08),          /* línea sutil */
    0 10px 14px -8px rgba(0,0,0,.25); /* blur hacia abajo */
}

.negro {
    background-color: black;
}

/*Footer */
footer {
    padding: 0 2rem 5rem 2rem;
}
footer .superior{
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1.2fr 1fr; 
  align-items: center;
  gap: 2rem;
}
footer .superior h4,
footer .superior p{ margin:0; }

.superior-datos{
  display: grid;
  justify-items: start; 
  row-gap: .25rem;
  font-weight: bolder;
}

footer .inferior {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1rem;
    color: #7a7a7a;
}

.inferior a {
    color:#7a7a7a;
}

.inferior h4, .inferior h4 a {
    color:black;
    font-weight: bold;
}

.inferior div:nth-child(1){
    padding:0 0 0 3rem;
    text-align: left;
}

.inferior div:nth-child(1) div{
    align-items: center;
}

.inferior div:nth-child(2){
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
}

.inferior div:nth-child(2) div{
    display: inline-block;
    align-items: end;
}
.puntos-venta-lista{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .inferior a svg {
  width: 22px;
  height: 22px;
  color: #7a7a7a; /* gris elegante */
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .inferior a svg:hover {
  color: #000; /* cambia a negro al pasar el mouse */
  transform: scale(1.1);
}

footer .inferior a {
  text-decoration: none;
}

.logo img {
    height:4rem;
    width:4rem;
}

/* Index.html*/
.seccion-uno {
    background-image: url('../imgs/Banner\ inicial\ Gran\ Mitote.webp');
    background-size:cover;
    background-position: center right;
    background-repeat:no-repeat;
    height:540px;
}

.seccion-uno-texto{
    color: white;
    display: grid;
    width: 50%;
}
.botones{
    padding:3rem 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.seccion-dos {
    color:white;
    text-align: center;
    padding-top:10rem;
    padding-bottom: 4rem;
    height:430px;
    background-image: url('../imgs/2do\ banner\ Gran\ Mitote.webp');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.seccion-tres {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items:center;
    justify-items:center;
    padding: 3rem 0;
    gap: 2rem;
}

/* Tienda */
.tienda h1 {
    text-align: center;
}

.seccion-botellas {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
    justify-items:center;
    padding: 2rem;
}

.seccion-botellas-botella {
    align-items: center;
    justify-items: center;
    text-align: center;
    margin:2rem;
}

.seccion-botellas-botella p {
    margin-top:0;
}

.seccion-botellas img {
    border: #7a7a7a 0.1rem solid;
    border-radius: 2em;
}

.precio-botella {
    font-weight: bold;
    font-size: large;
}

.comprar-botella-boton {
    background-color: black;
    color:white;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

/*Contacto*/
.contacto-hero {
    background-image: url('../imgs/Banner\ inicial\ contacto.webp');
    background-size:cover;
    background-position: center;
    min-height:540px;
}